.Header {
  background: #555555;
  background: url("../../images/papers.co-mt78-night-sky-star-shine-nature-fall-1920x1080.jpg");
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

@media screen and (max-width: 670px) {
  .Header {
    min-height: 500px;
  }
}
