.Header {
  background: url("../../images/man.jpg");
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

@media screen and (max-width: 670px) {
  .Header {
    min-height: 500px;
  }
}
